@page "/search/{searchTerm}"
@using LinkDotNet.Blog.Domain
@using LinkDotNet.Blog.Infrastructure
@using LinkDotNet.Blog.Infrastructure.Persistence
@using Microsoft.AspNetCore.Http
@inject IRepository<BlogPost> BlogPostRepository
@inject IHttpContextAccessor HttpContextAccessor

<h3>Results for @SearchTerm</h3>

<div class="content px-4">
    @for (var i = 0; i < blogPosts.Count; i++)
    {
        <ShortBlogPost BlogPost="blogPosts[i]" UseAlternativeStyle="@(i % 2 != 0)"></ShortBlogPost>
    }
</div>
@code {
    [Parameter, EditorRequired]
    public required string SearchTerm { get; set; }

    private IReadOnlyList<BlogPost> blogPosts = PagedList<BlogPost>.Empty;

    protected override async Task OnParametersSetAsync()
    {
        var authorName = HttpContextAccessor.HttpContext?.User.Identity?.Name;

        var term = Uri.UnescapeDataString(SearchTerm);
        blogPosts = await BlogPostRepository.GetAllAsync(t => t.IsPublished && t.AuthorName == authorName && (t.Title.Contains(term)
                                                                                || t.Tags.Any(tag => tag == term)),
            b => b.UpdatedDate);
    }
}
